CompileFlags:
  Add: [-std=c++23, -Wall, -Wextra, -Wpedantic]
  CompilationDatabase: build/debug
  Remove: [-m*, -f*]

Diagnostics:
  UnusedIncludes: Strict

Index:
  Background: Build

InlayHints:
  BlockEnd: false
  DeducedTypes: true
  Designators: true
  Enabled: true
  ParameterNames: true
