CompileFlags:
  Add: [-std=c++23, -Wall, -Wextra, -Wpedantic]
  CompilationDatabase: build/debug-tls
  Remove: [-march=native, -mavx*, -mfma*]

Diagnostics:
  UnusedIncludes: Strict

Index:
  Background: Build

InlayHints:
  BlockEnd: false
  DeducedTypes: true
  Designators: true
  Enabled: true
  ParameterNames: true
