CompileFlags:
  Add: [-std=c++23, -Wall, -Wextra, -Wpedantic]
  Compiler: clang++
  Remove: [-m*, -f*]

Diagnostics:
  ClangTidy:
    FastCheckFilter: Loose
    Add: []
    Remove: []
    CheckOptions: {}
  UnusedIncludes: Strict

Index:
  Background: Build

InlayHints:
  DeducedTypes: true
  Designators: true
  Enabled: true
  ParameterNames: true
